<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90F462D91F4D5A4100F18B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F462ED1F4D5A4100F18B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F462F81F4D5A4100F18B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
