<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>weatherinsightsPort</key>
    <string>443</string>
    <key>weatherinsightsUrl</key>
    <string>https://7e8e557e-aace-46eb-9a18-d1ee257a8c42:dWTA81sirB@twcservice.mybluemix.net</string>
    <key>weatherinsightsPassword</key>
    <string>dWTA81sirB</string>
    <key>weatherinsightsHost</key>
    <string>twcservice.mybluemix.net</string>
    <key>weatherinsightsUsername</key>
    <string>7e8e557e-aace-46eb-9a18-d1ee257a8c42</string>
    <key>appName</key>
    <string>WeatherForecastingforiOSUAAZE</string></dict>
</plist>
